[Unit]
Description=PetCard Backend
After=network.target

[Service]
User=user
Group=user
WorkingDirectory=/var/www/petcard
Environment="PATH=/var/www/petcard/venv/bin"
EnvironmentFile=/var/www/petcard/backend/.env
ExecStart=/var/www/petcard/venv/bin/uvicorn src.backend.main:app --host 127.0.0.1 --port 8000
Restart=always

[Install]
WantedBy=multi-user.target
